@page "/Masterdata"
@using ConnectorLibrary.Masterdata

<PageTitle>Masterdata</PageTitle>
<h2>Stammdaten</h2>

<Masterdata />

@code
{
    private void SendPlus()
    {
        throw new NotImplementedException();
    }

    private EventCallback getPlus()
    {
        throw new NotImplementedException();
    }
}

