@page "/"
@using IoneVectronConverter.Ione
@inject IIoneClient client

<h3>Orders</h3>
<button class="btn btn-primary" @onclick="GetOrders">Get Orders</button>

@code {

    private async Task GetOrders()
    {
        var result = await client.GetOrdersAsync(new DateTime(2022, 01, 01), new DateTime(2022, 12, 31));
        
        Console.Write(result.Data[0].Total);
    }

}