@page "/"
@using IoneVectronConverter.Ione
@using IoneVectronConverter.Ione.Services
@using IoneVectronConverter.Common.Worker
@inject IIoneClient client
@inject IOrderService service
@inject IWorker worker;

<h3>Orders</h3>
<button class="btn btn-primary" @onclick="GetOrders">Get Orders from Ione</button><br>
<button class="btn btn-primary" @onclick="GetStoredOrders">Get stored Orders</button><br>
<button class="btn btn-primary" @onclick="ProcessOrders">Process Orders</button><br>

@code {

    private async Task GetOrders()
    {
        var result = await client.GetOrdersAsync(new DateTime(2022, 01, 01), new DateTime(2022, 12, 31));
        
        Console.Write(result.Data[0].Total);
    }

    private async Task GetStoredOrders()
    {

        var result = service.GetOrders();
        Console.Write(result.First().Message);

    }

    private void ProcessOrders()
    {
        worker.ProcessOrdesfromIone();
    }

}